#root {
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
  }

* {
  box-sizing: border-box;
  text-align: center;
}

.app {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bg-image img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  min-width: 50%;
  height: 50%;
  margin: auto;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  opacity: .7;
  overscroll-behavior: none;
  object-fit: cover;
  filter: blur(7px);
 }

.bg-image {
  z-index: -1;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: black;
  display: block;
  position: fixed;
}

.content-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 8.3% auto;
}
.content-containerOne {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.loading-container {

  color: white;

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1080px) {
  .content-container {
    margin: auto;
    margin-top: 3%;
  }
}

.button {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: contents;
  padding: 0 0 0 3px;
}
.buttonbasic {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff8eff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: contents;
  padding: 0 0 0 3px;
}
.buttonglow {
  animation: glowing 3.5s infinite;
}
@keyframes glowing {
  0% { box-shadow: 0 0 5px #FF8EFF; }
  50% { box-shadow: 0 0 20px #FF8EFF; }
  100% { box-shadow: 0 0 5px #FF8EFF; }
}

.buttonApple {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  padding: 0 0 0 0px;
}
.buttonApplebasic {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff8eff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  padding: 0 0 0 0px;
}

.spotifyLogo{
  height: 75%;
  padding-right: 7px;
}

.appleLogo{
  height: 75%;
  padding-right: 5px;
}

.buttonView {
  display: inline-flex;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  margin-bottom: 2%;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  align-self: center;
}
.buttonViewTypeOne {
  display: inline-flex;
  cursor: pointer;
  background-color: black;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  margin-bottom: 3%;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  align-self: center;
}
.buttonView3 {
  display: inline-flex;
  cursor: pointer;
  background-color: #C3A48F;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  margin-bottom: 2%;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  align-self: center;
}
.buttonView4 {
  display: inline-flex;
  cursor: pointer;
  background-color: #CB3D2B;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  margin-bottom: 2%;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  align-self: center;
}
@media only screen and (min-width: 660px) {
  .buttonView {
    margin-bottom: 1%;
  }
}
.buttonViewApple {
  display: inline-flex;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  margin-top: 12%;
  margin-bottom: 2%;
  white-space: nowrap;
  align-self: center;
}
.buttonViewAppleTypeOne {
  display: inline-flex;
  cursor: pointer;
  background-color: black;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  margin-top: 25%;
  margin-bottom: 3%;
  white-space: nowrap;
  align-self: center;
}
.buttonViewApple3 {
  display: inline-flex;
  cursor: pointer;
  background-color: #C3A48F;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  margin-top: 15%;
  margin-bottom: 2%;
  white-space: nowrap;
  align-self: center;
}
.buttonViewApple4 {
  display: inline-flex;
  cursor: pointer;
  background-color: #cb3d2b;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  margin-top: 20%;
  margin-bottom: 2%;
  white-space: nowrap;
  align-self: center;
}
@media only screen and (min-width: 660px) {
  .buttonViewApple {
    margin-top: 6%;
    margin-bottom: 1%;
  }
}
.modal {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  margin-top: 25%;
  margin-bottom: 5%;
  white-space: nowrap;
}

.h1, .h2 {
  color: white;
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}
.h1basic, .h2basic {
  color: #FF8EFF;
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0; 
}
.h1three, .h2three {
  color: #C3A48F;
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}
.h1four, .h2four {
  color: #CB3D2B;
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}
.h3 {
  color: white;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1%;
}
.h3basic {
  color: #FF8EFF;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1%;
}
.h3three {
  color: #C3A48F;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1%;
}
.h3four {
  color: #CB3D2B;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1%;
}

p {
  margin: auto;
}

.emailoptions {
  font-family: roboto-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10%;
}

@media only screen and (min-width: 660px) {
  .legalfooter {
    margin-top: inherit;
    margin-bottom: 4%;
  }
}
.legaltext {
  color: white;
  font-size: 12px;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}
.legaltextbasic {
  color: #FF8EFF;
  font-size: 12px;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}
.legaltext3 {
  color: #c3a48f;
  font-size: 12px;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}
.legaltext4 {
  color: #CB3D2B;
  font-size: 12px;
  font-family: roboto, sans-serif;
  text-transform: uppercase;
}

.legallinks {
  margin-top: 25%;
}

a:link, a:visited, a:hover, a:active {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-weight: 600;
}
a.basic:link, a.basic:visited, a.basic:hover, a.basic:active {
  color: #FF8EFF;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-weight: 600;
}
a.three:link, a.three:visited, a.three:hover, a.three:active {
  color: #c3a48f;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-weight: 600;
}
a.four:link, a.four:visited, a.four:hover, a.four:active {
  color: #CB3D2B;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-weight: 600;
}

.checkboxcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkboxContainer input {
  display: none;
}
.checkboxContainerbasic input {
  display: none;
}
.checkboxContainer3 input {
  display: none;
}
.checkboxContainer4 input {
  display: none;
}
.checkboxContainer {
  color: white;
  display: inline-block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.checkboxContainerbasic {
  color: #FF8EFF;
  display: inline-block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.checkboxContainer3 {
  color: #C3A48F;
  display: inline-block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.checkboxContainer4 {
  color: #CB3D2B;
  display: inline-block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.checkboxContainer .checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 2px;
}
.checkboxContainer input:checked + .checkmark {
  background-color: white;
}
.checkboxContainer:hover .checkmark {
  background-color: white;
}
.checkboxContainer input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.checkboxContainerbasic .checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #ff8eff;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 2px;
}
.checkboxContainer3 .checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: black;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 2px;
}
.checkboxContainer4 .checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #CB3D2B;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 2px;
}
.checkboxContainerbasic input:checked + .checkmark {
  background-color: #ff8eff;
}
.checkboxContainerbasic:hover .checkmark {
  background-color: #ff8eff;
}
.checkboxContainer3 input:checked + .checkmark {
  background-color: #C3A48F;
}
.checkboxContainer3:hover .checkmark {
  background-color: #C3A48F;
}
.checkboxContainer4 input:checked + .checkmark {
  background-color: #CB3D2B;
}
.checkboxContainer4:hover .checkmark {
  background-color: #CB3D2B;
}
.checkboxContainerbasic input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.checkboxContainer3 input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.checkboxContainer4 input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

.emailcapture {
  color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: auto;
}
.emailcapturebasic {
  color: #FF8EFF;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: auto;
}
.emailcapture3 {
  color: #C3A48F;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: auto;
}
.emailcapture4 {
  color: #cb3d2b;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: auto;
}
.input1 {
  width: 60%;
  display: inline-block;
  line-height: 200%;
  border: none;
  text-align: left;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  padding-left: 10px;
  font-size: 15px;
}
.input1:focus {
  outline: none;
}
.input1basic {
  color: #FF8EFF;
  background-color: black;
  display: inline-block;
  line-height: 200%;
  border: none;
  text-align: left;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  padding-left: 10px;
  font-size: 15px;
  text-align: center;
}
.input1three {
  color: #C3A48F;
  background-color: black;
  display: inline-block;
  line-height: 200%;
  border: none;
  text-align: left;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  padding-left: 10px;
  font-size: 15px;
  text-align: center;
}
.input1four {
  color: black;
  background-color: #cb3d2b;
  display: inline-block;
  line-height: 200%;
  border: none;
  text-align: left;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  padding-left: 10px;
  font-size: 15px;
  text-align: center;
}
.input1basic:focus {
  outline: none;
}

input[type=submit] {
  background-color: white;
  font-family: roboto-condensed, sans-serif;
  font-weight: 600;
  border: none;
  margin-top: 4%;
  border-radius: 2px;
  padding: 6px 8px;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  cursor: pointer;
}

.ssnotice {
  color: white;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 40px 0 40px;
  margin-top: 8%;
  margin-bottom: 9%;
}
a.sslink {
  font-size: 13px;
}

.popup-content {
  width: 80%;
  height: 30%;
  background-color: black;
  border: 3px solid black;
  border-radius: 3px;
}
.modal {
  margin-bottom: 0;
  margin-top: 0;
  white-space: unset;
  box-shadow: unset;
  height: 100%;
  font-family: roboto, sans-serif;
  font-weight: 600;
  background-color: black;
  text-align: -webkit-center;
  color: #cb3d2b;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 6px 10px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
}
.applenoticelogo {
  display: block;
  height: 12%;
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
input.notice {
  background-color: black;
  color: #cb3d2b;
  border: 2px solid #cb3d2b;
  padding: inherit;
  font-weight: 400;
}
button.noticecopy {
  background: #cb3d2b;
  color: black;
  border: 1px solid #cb3d2b;
  padding: inherit;
  margin-top: -5%;
  font-family: roboto, sans-serif;
}

@media only screen and (min-width: 660px) {
  .ssnotice {
    margin: auto;
    margin-bottom: 3%;
    width: 45%;
  }
}


#contentfadein {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.textupdates {
  color: white;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 15%;
}
@media only screen and (min-width: 660px) {
  .textupdates {
    margin-top: 5%;
    margin-bottom: 2%;
  }
}

.poweredby {
    display: inline-flex;
    font-size: 12px;
    font-family: roboto, sans-serif;
    color: #ff8eff;
    text-transform: uppercase;
    margin-top: 8%;
}
.poweredby3 {
    display: inline-flex;
    font-size: 12px;
    font-family: roboto, sans-serif;
    color: #c3a48f;
    text-transform: uppercase;
    margin-top: 8%;
}
.poweredby4 {
    display: inline-flex;
    font-size: 12px;
    font-family: roboto, sans-serif;
    color: #CB3D2B;
    text-transform: uppercase;
    margin-top: 8%;
}
p.poweredbytext {
  display: grid;
  padding-right: 3%;
}

.endlesslogo {
  height: 12px;
  margin-top: 6%;
}
.endlesslogobasic {
  height: 12px;
  margin-top: 2.3px;
  margin-left: 7px;
}
@media only screen and (min-width: 660px) {
  .endlesslogo {
    margin-top: 2%;
  }
}
@media only screen and (min-width: 660px) {
  .endlesslogobasic {
  }
}