body, html {
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.App{
  height: 100%;
  width: 100%;
}
.bg-image {
  display: none
}
@media (min-width:321px) {
  .bg-image img {

    /* Add the blur effect */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    min-width: 55%;
    min-height: 55%;
    margin: auto;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    max-width: none;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: .7
  }

  .bg-image {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #000;
    display: block;
    position: fixed
  }

  .bg-image:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .is-ie .bg-image img {
    -webkit-filter: none;
    filter: none;
    opacity: 1
  }
}
.artwork {
  width: 100%;
  height: 10%;
  box-shadow: 0px 0px 25px 0px white;
}

/* Position text in the middle of the page/image */
.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 15px;
}

.button {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: inline;
}
.buttonApple {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: inline;
}
.spotifyLogo{
  height: 75%;
}

.appleLogo{
  height: 77%;
}

.buttonView {
  display: inline-flex;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  margin-bottom: 5%
  box-shadow: 0px 0px 8px 0px black;
  border-radius: 2px;
}

.buttonView:after {
  display: block;
  clear: both;
  content: ""
}

.buttonViewApple {
  display: inline-flex;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0px 0px 8px 0px black;
  border-radius: 2px;
}

.buttonViewApple:after {
  display: block;
  clear: both;
  content: ""
}
@media (-ms-high-contrast:none), not all and (hover:none) {
  .buttonView:focus, .buttonView:hover {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 -2px 9px 0 rgba(0, 0, 0, .06);
    box-shadow: inset 0 -2px 9px 0 rgba(0, 0, 0, .06);
    z-index: 1
  }
  .buttonView:focus .button, .buttonView:hover .button {
    color: #fff;
    border-color: #222;
    background-color: #2EE59D;
  }

  .buttonView:focus .button .btn-label,
  .buttonView:hover .button .btn-label {
    background: #222;
    border-color: #222
  }
}
@media (-ms-high-contrast:none), not all and (hover:none) {
  .buttonViewApple:focus, .buttonViewApple:hover {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 -2px 9px 0 rgba(0, 0, 0, .06);
    box-shadow: inset 0 -2px 9px 0 rgba(0, 0, 0, .06);
    z-index: 1
  }
  .buttonViewApple:focus .buttonApple, .buttonViewApple:hover .buttonApple {
    color: #fff;
    border-color: #222;
    background-color:rgb(193,67,149);
  }

  .buttonViewApple:focus .buttonApple .btn-label,
  .buttonViewApple:hover .buttonApple .btn-label {
    background: #222;
    border-color: #222
  }
}

.h1 {
  font-size: 25px;
  font-weight: 100;
  margin-block-end: -0.5em;
}
.h2 {
  font-size: 25px;
  font-weight: bold;
}

.emailoptions {
  font-family: roboto-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10%
}

.artistupdates {
  margin-bottom: 10%
}

input{type="checkbox"}:before {
  color: white;
  background-color: black;
}