body, html {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100;
}

.bg-image img {

  /* Add the blur effect */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  min-width: 55%;
  height: 55%;
  margin: auto;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  max-width: none;
  opacity: .5;
}

.bg-image {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: black;
  display: block;
  position: fixed;
}

.artwork {
  width: 100%;
  height: 10%;
  box-shadow: 0px 0px 25px 5px #acacac;
}

/* Position text in the middle of the page/image */
.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 15px;
}

.button {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: contents;
}
.buttonApple {
  font-family: roboto-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: transparent;
  display: contents;
}
.spotifyLogo{
  height: 75%;
  padding-right: 5px;
}

.appleLogo{
  height: 77%;
  padding-right: 5px;
}

.buttonView {
  display: inline-flex;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  margin-bottom: 5%;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
}

.buttonViewApple {
  display: inline-flex;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, -webkit-box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
  padding: 12px 16px;
  position: relative;
  height: 50px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(82, 82, 82, 0.4);
  border-radius: 2px;
  margin-top: 10%;
  white-space: nowrap;
}

.h1 {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-block-end: -0.5em;
}
.h2 {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
}

.emailoptions {
  font-family: roboto-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10%;
}

.legallinks {
  font-family: roboto-condensed,sans-serif;
  font-weight: 400;
  margin-top: 20%
}
.legal-links-seperator {
  font-family: roboto-condensed,sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.checkboxcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkboxContainer input {
  display: none;
}
.checkboxContainer {
  display: inline-block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  font-family:roboto-condensed,sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
}
.checkboxContainer .checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}
.checkboxContainer input:checked + .checkmark {
  background-color: white;
}
.checkboxContainer:hover .checkmark {
  background-color: white;
}
.checkboxContainer input:checked + .checkmark:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}

#contentfadein {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}